<label class="switch">
  <input type="checkbox" id="hasPayed" checked={{@checked}}
     onchange={{action onchange value='target.checked'}} />
  <span class="slider fa {{if @checked "text-success" "text-danger"}}"></span>
</label>