@import main-nav

@import components/bus-animation
@import components/editable-value
@import components/global-message
@import components/input-date
@import components/input-switch
@import components/login-form
@import components/register-form
@import components/students-table

@import registration


body > .container-fluid
  margin-top: 4.5rem

a
  &[data-ember-action]
    cursor: pointer

.editable-value
  width: 100%

.ember-power-select-trigger
  &:focus
    box-shadow: $input-focus-box-shadow
