.bg-mainnav
  background-color: $hhu-blue-30

.navbar
  $image-size: 3rem
  background: $hhu-blue-30 url('../inphima.png') no-repeat .5rem center
  background-size: $image-size $image-size
  overflow: visible
  padding-left: $image-size + 1rem

  .animation-container
    height: 100%

  .logout
    flex-grow: unset
