<section class="students">
  <h1>{{model.title}}</h1>

  <p>
    Freie Plätze: {{model.placesLeft}}
  </p>

  {{students-table
    students=model.students
    placesLeft=model.placesLeft
    subjects=subjects
    book=(action "book")
    update=(action "update")
    unbook=(action "unbook")
  }}

  {{outlet}}
</section>