.register-form
  $bg-gradient-end: $hhu-blue
  $bg-gradient-start: $hhu-blue-30
  $border-radius: .3rem
  $text-color-button: #fff
  $text-color-heading: #495057
  $input-bg: #f8f9fa
  $text-color: #383d41
  align-items: center
  display: flex
  height: 100%

  .register
    background: -webkit-linear-gradient(left, $bg-gradient-start 24%, $bg-gradient-end)
    border-radius: $border-radius
    box-shadow: 0 0 30px 1px darken($hhu-blue, 20%)
    margin-top: 3%
    padding: 3%

  .register-left
    color: $text-color
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 4%
    text-align: center

    .subtitle
      font-weight: lighter

    .animation-container
      margin-bottom: 5%
      margin-top: 15%
      width: 25%

  .register-right
    background: -webkit-linear-gradient(left, $input-bg, darken($input-bg, 7%))
    border-bottom-left-radius: 10% 50%
    border-bottom-right-radius: $border-radius
    border-top-left-radius: 10% 50%
    border-top-right-radius: $border-radius
    padding-left: 5rem

    .register-heading
      color: $text-color-heading
      text-align: center

    ::placeholder
      $placeholder-color: #999 // ember-power-select color
      color: $placeholder-color

    .btn-register
      border: 0
      border-radius: 2rem
      color: $text-color-button
      font-weight: 600
      padding: .5rem 1rem
