.students-table

  .student-row
    &.is-inactive
      opacity: .5

  td,
  th
    vertical-align: middle
    white-space: nowrap

    width: 1%

    &:nth-child(10)
      width: auto

  .dropdown-toggle
    &::after
      display: none
